body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: green;
  background-color: #d8da3d;
  padding-bottom: 60px
}

#container {
  min-height:100%;
  position:relative;
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}

h1 { font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif }

a:visited, a:link { color: blue }

a:hover { text-decoration: underline; }

table.gridtable {
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
