body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: green;
  background-color: #d8da3d;
  padding-bottom: 50px
}

#container {
  min-height:100%;
  position:relative;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

h1 { font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif }

a:visited, a:link { color: blue }
